<div class="container">
  <h1 class="down">Manage</h1>
    <div class="form-group">
      <button class="btn btn-info btn-block" routerLink="/admin/coach">Coaches</button>
    </div>

    <div class="form-group">
      <a routerLink="/admin/user" class="btn btn-info btn-block">Users</a>
    </div>

    <div class="form-group">
      <a routerLink="/admin/class" class="btn btn-info btn-block">Classes</a>
    </div>
  <a class="btn btn-danger  btn-block"
     (click)="logout()" routerLink="/login">Logout</a>
</div>

