.imgbox {
  display: grid;
  height: 100%;
}
.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.profile {
  margin-top: 20px;
  margin-bottom: 10px;
}

.white {
  color: white;
}

.bot {
  margin-bottom: 40px;
}
