<nav class="navbar sticky-top navbar-dark bg-primary">
  <span class="navbar-brand">Profile</span>
  <a class="nav-item nav-link ml-auto" [routerLink]="" (click)="updateCoach()">
    <i class="fas fa-check white-icons"></i></a>
</nav>

<div class="container">
  <div class="imgbox">
    <img class="center-fit" [src]="coach.photo_url" [width]="200">
  </div>
  <div class="form-group move-down" *ngIf="coach">
    <label for="first-name">First Name</label>
    <input type="text" class="form-control" id="first-name" placeholder="Alice" [(ngModel)]="coach.firstName">
  </div>
  <div class="form-group" *ngIf="coach">
    <label for="last-name">Last Name</label>
    <input type="text" class="form-control" id="last-name" placeholder="Wonderland" [(ngModel)]="coach.lastName">
  </div>
  <div class="form-group" *ngIf="coach">
    <label for="expertise">Expertise</label>
    <input type="text" class="form-control" id="expertise" placeholder="None" [(ngModel)]="coach.expertise">
  </div>
  <div class="form-group" *ngIf="coach">
    <label for="brief">Brief</label>
    <input type="text" class="form-control" id="brief" placeholder="None" [(ngModel)]="coach.brief">
  </div>

  <a class="btn btn-primary btn-block"
     routerLink="/coach/class">View classes</a>
  <a class="btn btn-danger  btn-block"
     (click)="logout()" routerLink="/login">Logout</a>
</div>

<nav class="navbar bg-primary navbar-dark justify-content-end">
  <a class = "navbar-brand" id="hidden">hidden bottom</a>
</nav>

