<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light justify-content-start">
  <a class="nav-item nav-link" routerLink="/admin" >
    <i class="fas fa-chevron-left black-icons"></i></a>
  <a class="navbar-brand  white-icons" >Coaches</a>
</nav>

<div class="content container cl-container-padding mt-5" *ngIf="coaches">
  <div class="coach-list">
    <table class="table table-borderless">
      <tbody>
      <tr>
        <th>Coach Name</th>
        <th>Expertise</th>
        <th>Short Bio</th>
        <th>Photo</th>
        <th>Edit</th>
      </tr>
      <tr *ngFor="let coach of coaches">
        <td>{{coach.firstName}} {{coach.lastName}}</td>
          <td>{{coach.expertise}}</td>
          <td>{{coach.brief}}</td>
          <td><img [src]="coach.photo_url" [width]="150"></td>
        <td><a routerLink="/admin/coach/{{coach._id}}" class="btn btn-primary btn-block">Edit</a></td>
      </tr>
      </tbody>
    </table>
    <a (click)="createCoach()" class="btn btn-primary btn-block" [routerLink]="">New Coach</a>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-primary bg-light justify-content-start fixed-bottom">
  <a class="nav-item nav-link ml-auto navblack" routerLink="/admin"><i class="  fas fa-user"></i></a>
</nav>
