<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-start">
  <a class="nav-item nav-link" (click)="goBack()" >
    <i class="fas fa-chevron-left black-icons white"></i></a>
  <a class="navbar-brand  white-icons" [routerLink]="">Classes</a>
</nav>

<div class="content container-fluid" *ngIf="classes">
  <div class="class-list">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>Class Name</th>
            <th>Description</th>
            <th>Time</th>
            <th>Location</th>
            <th>Coach</th>
            <th>Weather</th>
          </tr>
        </tbody>
        <tbody *ngFor="let c of classes">
          <tr *ngIf="c.approved">
            <td>{{c.name}}</td>
            <td>{{c.description}}</td>
            <td><input type="datetime-local" value="{{c.time}}" readonly></td>
            <td>{{c.location}}</td>
            <td><a routerLink="{{c.coachUrl}}">{{c.coachName}}</a></td>
            <td><img [src]="c.weather"></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-start fixed-bottom">
  <a class="nav-item nav-link navblack " routerLink="/intro">
    <i class="fas fa-home white"></i></a>
  <a class="nav-item nav-link ml-auto navblack" routerLink="/user/profile"><i class="  fas fa-user white"></i></a>
</nav>
