.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/../../../../assets/image/background/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  background-attachment: fixed;
}

.learnMore {
  margin-top: 500px;
}

.wrapper {
  text-align: center;
}
