<nav class="navbar sticky-top navbar-dark bg-primary">
  <span class="navbar-brand">Profile</span>
  <a class="nav-item nav-link ml-auto" [routerLink]="" (click)="updateUser()">
    <i class="fas fa-check white-icons"></i></a>
</nav>

<div class="container">
  <div class="form-group move-down" *ngIf="user">
    <div class="imgbox">
      <img class="center-fit" [src]="user.photo_url" [width]="200">
    </div>
    <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
      <input  name="myFile"   type="file" class="form-control"/>
      <button type="submit" class="btn btn-block btn-primary">Change Photo</button>
      <br/>
    </form>
  </div>
  <div class="form-group" *ngIf="user">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="user.username">
  </div>
  <div class="form-group" *ngIf="user">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com" [(ngModel)]="user.email">
  </div>
  <div class="form-group" *ngIf="user">
    <label for="first-name">First Name</label>
    <input type="text" class="form-control" id="first-name" placeholder="Alice" [(ngModel)]="user.firstName">
  </div>
  <div class="form-group" *ngIf="user">
    <label for="last-name">Last Name</label>
    <input type="text" class="form-control" id="last-name" placeholder="Wonderland" [(ngModel)]="user.lastName">
  </div>
  <div class="form-group" *ngIf="user">
    <label for="membership">Membership</label>
    <input type="text" class="form-control" id="membership" placeholder="Invalid" value="{{user.membership}}" readonly>
  </div>

  <a class="btn btn-primary btn-block"
     routerLink="/class">View classes</a>
  <a class="btn btn-danger  btn-block"
     (click)="logout()" routerLink="/login">Logout</a>
  <a class="btn btn-danger btn-block"
     (click)="deleteUser()" routerLink="/login">Delete User</a>
</div>


<nav class="navbar bg-primary navbar-dark justify-content-end">
  <a class = "navbar-brand" id="hidden">hidden bottom</a>
</nav>

