<nav class="navbar sticky-top navbar-dark bg-dark">
  <a class="nav-item nav-link" (click)="goBack()" [routerLink]="">
    <i class="fas fa-chevron-left white-icons"></i></a>
</nav>

<div class="container">

  <div class="form-group move-down" *ngIf="coach">
    <img class="img-responsive img-rounded cl-widget-images c" [src]="coach.photo_url" [width]="300">
    <h3>{{coach.firstName}} {{coach.lastName}}</h3>
    <p>Expertise: {{coach.expertise}}</p>
    <p>Short Bio: {{coach.brief}}</p>
  </div>
</div>


