<form (ngSubmit)="createClass()" #f="ngForm">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-start">
          <a class="nav-item nav-link navblack d-sm-none" routerLink="/coach/class">
            <i class="fas fa-chevron-left white-icons move-left"></i></a>
          <a class="navbar-brand pl-4 " [routerLink]="">New Class</a>
          <a class="nav-item nav-link ml-auto" routerLink="/coach/class" (click)="createClass()">
            <i class=" navblack fas fa-check white-icons move-right" ></i></a>
        </nav>

      <div class="container">
        <div class="form-group">
          <label for="website-name" class="top">Name</label>
          <input type="text" id="website-name" name="classname" placeholder="Name" class="form-control" ngModel required #classname="ngModel">
        </div>
          <span class="help-block" *ngIf="!classname.valid">
            Please enter class name!
          </span>
        <div class="form-group">
          <label for="class-description">Description</label>
          <textarea id="class-description" class="form-control" rows="5" placeholder="Description" name="description"
                    ngModel required #description="ngModel"></textarea>
        </div>
        <div class="form-group">
          <label for="class-time">Time</label>
          <input type="datetime-local" id="class-time right"
                 name="meeting-time" value="{{currentTime}}" min="{{currentTime}}">
        </div>
      </div>
  <nav class="navbar fixed-bottom bg-dark navbar-dark justify-content-end">
    <div class="container-fuild">
      <a routerLink="/coach/profile" class="navbar-link navbar-text float-right ">
        <i class="fas fa-user white-icons"></i>
      </a>
    </div>
  </nav>
</form>


