<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light justify-content-start">
  <a class="nav-item nav-link ml-auto navblack" routerLink="/login"><i class="  fas fa-user"></i></a>
</nav>

<div class="content container">
  <h1>Our Equipments</h1>
  <table class="table table-borderless">
    <tbody class="imgbox" >
      <tr><img class="center-fit"
             [src]="'../../../../assets/image/equipment/' + 'equipment1.jpg'"></tr>
      <tr><img class="center-fit"
               [src]="'../../../../assets/image/equipment/' + 'equipment2.jpg'"></tr>
      <tr><img class="center-fit"
               [src]="'../../../../assets/image/equipment/' + 'equipment3.jpg'"></tr>
      <tr><img class="center-fit"
               [src]="'../../../../assets/image/equipment/' + 'equipment4.png'"></tr>
    </tbody>
  </table>

  <h1>Our Trainers</h1>
  <table class="table table-borderless" width="100%">
    <!--Todo fit in a row-->
    <tbody>
    <tr class="imgbox">
      <td width="25%"><img class="img-responsive img-rounded cl-widget-images" routerLink="/coach/coach1"
               [src]="'../../../../assets/image/trainer/' + 'trainer1.jpeg'"></td>
      <td width="25%"><img class="img-responsive img-rounded cl-widget-images" routerLink="/coach/coach2"
               [src]="'../../../../assets/image/trainer/' + 'trainer2.jpeg'"></td>
      <td width="25%"><img class="img-responsive img-rounded cl-widget-images" routerLink="/coach/coach3"
               [src]="'../../../../assets/image/trainer/' + 'trainer3.jpeg'"></td>
      <td width="25%"><img class="img-responsive img-rounded cl-widget-images" routerLink="/coach/coach4"
               [src]="'../../../../assets/image/trainer/' + 'trainer4.jpeg'"></td>

      </tr>
    </tbody>
  </table>
</div>
